
POSTGRES_DB=movies_database
POSTGRES_USER=movies_user
POSTGRES_PASSWORD=movies_user1234
POSTGRES_HOST=postgres_movies
POSTGRES_PORT=5433

SECRET_KEY=jqwnbdjknqwjdnq
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,0.0.0.0,localhost
DJANGO_SUPERUSER_USERNAME=user
DJANGO_SUPERUSER_PASSWORD=pass
DJANGO_SUPERUSER_EMAIL=test@gmail.com

AUTH_URL=http://auth:8200/api/v1/auth/admin_login
