PROJECT_NAME=auth_service

POSTGRES_DB=auth_database
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=auth_user1234
POSTGRES_HOST=postgres_auth_test
POSTGRES_PORT=5432

REDIS_HOST=redis_auth_test
REDIS_PORT=6379

SUPERUSER_LOGIN=auth_superuser
SUPERUSER_PASSWORD=auth_superuser_password
SUPERUSER_UUID=13f08f83-a6e2-4be2-a2fc-47fa57b4bbe7
SUPERROLE_UUID=e8ee2a81-a2c0-41af-89ee-0dea520bf8a3
SUPERROLE_NAME=superrole

SECRET=secret

AUTH_SERVICE_URL=http://auth_test:8200
AUTH_SERVICE_HOST=auth_test
AUTH_SERVICE_POST=8200
